<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Weather Forecast</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="page-header">
        @*<img id="logo" src="../../Content/Images/Logo.png" />*@
        <a href="@Url.Action("Index","WeatherInfo")">
        <img  id="logo" src="@Url.Content("../../Content/Images/Logo.png")" alt="Icon Image" /></a>
        <ul id="navmenu">
            <li>@Html.ActionLink("Weather Forecast", "Index", "WeatherInfo", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Edit Cities", "Index", "Cities", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("History", "Index", "History", new { area = "" }, new { @class = "navbar-brand" })</li>
        </ul>
    </header>
    <div id="page-content">
        @RenderBody()
    </div>
    <footer id="page-footer">
        <div id="company-info">
            <h3>
                Contact information
            </h3>
            WeatherForecast, Inc.<br/>
            2017 Binary Avenue <br />
            Lviv City, UA <br />
            12345 <br />
        </div>
        <div id="contact-info">
            <address>
                Bogdan Balanyk<br/>
                Lviv<br/>
                <strong>Support:</strong> <a href="mailto:balanykb@gmail.com">balanykb@gmail.com</a><br />
            </address>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>