@model IEnumerable<WeatherForecast.Models.OpenWeatherMapModels.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div  class="divTable">
    @foreach (var item in Model)
    {
        <div class="divTableRow">
            <div class="divTableCell">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="divTableCell">
                @Html.ActionLink("Edit", "Edit", new {cityName = item.Name}) |
                @Html.ActionLink("Delete", "Delete", new {cityName = item.Name})
            </div>
        </div>
    }

</div>

<div>
    @Html.ActionLink("Back to Weather Forecast", "Index", "WeatherInfo")
</div>