@model IEnumerable<WeatherForecast.Models.OpenWeatherMapModels.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { cityName = item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { cityName = item.Name })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Weather Forecast", "Index", "WeatherInfo")
</div>