
@model WeatherForecast.Models.WeatherInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";

    string cityName = @Model?.weatherInfo?.city?.name ?? "";
    string countryCode = @Model?.weatherInfo?.city?.country ?? "";
}

<script>
    function timeConverter(unixTimestamp) {
        var a = new Date(unixTimestamp * 1000);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
        return time;
    }
</script>
<div>
    <div class="well well-sm">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>@Html.ActionLink("Kiev", "Index", new { city = "Kiev" })</th>
                    <th>@Html.ActionLink("Lviv", "Index", new { city = "Lviv" })</th>
                    <th>@Html.ActionLink("Kharkiv", "Index", new { city = "Kharkiv" })</th>
                    <th>@Html.ActionLink("Dnipropetrovsk", "Index", new { city = "Dnipropetrovsk" })</th>
                    <th>@Html.ActionLink("Odessa", "Index", new { city = "Odessa" })</th>
                </tr>
            </table>
        </div>
        <div id="cityInputForm">
            @using (Html.BeginForm("Index", "WeatherInfo"))
            {

                <div id="cityEditDiv">
                    @Html.TextBox("city", null, new { @class = "form-control col-xs-12", id = "cityEdit" })
                </div>
                <div id="citySubmitDiv">
                    <input type="submit" value="Show weather" class="form-control btn-success" id="btnShow" />
                </div>

            }
        </div>
    </div>
    @if (@Model?.weatherInfo?.cnt != 0)
    {
        <h3>City: @cityName</h3>

        <h3>Country code: @countryCode</h3>

        <div>
            <table class="table table-striped">
                <tr>
                    <th>@Html.ActionLink("Current Day", "Index", new { time = 1, city = @Model?.weatherInfo?.city?.name })</th>
                    <th>@Html.ActionLink("3 Days", "Index", new { time = 3, city = @Model?.weatherInfo?.city?.name })</th>
                    <th>@Html.ActionLink("7 Days", "Index", new { time = 7, city = @Model?.weatherInfo?.city?.name })</th>
                </tr>
            </table>
        </div>
        <h4>Weather forecast for @Model.weatherInfo.cnt days</h4>
        <div class="divParent">
            @foreach (var info in @Model.weatherInfo.list)
            {
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                <script> document.write(timeConverter(@info.dt)) </script>
                            </th>
                            <th>
                                <img src="@($"http://openweathermap.org/img/w/{@info.weather[0].icon}.png")" alt="@info.weather[0].description" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="divTableKey">Temperature:</td>
                            <td class="divTableValue">@info.temp.day °С</td>
                        </tr>
                        <tr>
                            <td class="divTableKey">Humidity:</td>
                            <td class="divTableValue">@info.humidity %</td>
                        </tr>
                        <tr>
                            <td class="divTableKey">Pressure:</td>
                            <td class="divTableValue">@info.pressure hPa</td>
                        </tr>
                        <tr>
                            <td class="divTableKey">Wind Speed:</td>
                            <td class="divTableValue">@info.speed meter/sec</td>
                        </tr>
                        <tr>
                            <td class="divTableKey">Clouds:</td>
                            <td class="divTableValue">@info.clouds %</td>
                        </tr>
                    </tbody>
                </table>

                <hr class="half-rule" />
            }
        </div>
    }
</div>