@using WeatherForecast.Models.Interfaces
@using WeatherForecast.Models.OpenWeatherMapModels
@model WeatherForecast.Models.Interfaces.IDetailedWeatherInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";

    string cityName = @Model.CityName;
    string countryCode = @Model.CountryCode;
}
<div>
    <div class="well well-sm">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    @foreach (var city in (List<City>)@ViewBag.StartupCities)
                    {
                        <th>@Html.ActionLink(city.Name, "Index", new { customCityName = city.Name }, null)</th>
                    }
                    <th>@Html.ActionLink("Edit", "Index", "Cities")</th>
                </tr>
            </table>
        </div>
        <div id="cityInputForm">
            @using (Html.BeginForm("Index", "WeatherInfo"))
            {

                <div id="cityEditDiv">
                    @Html.TextBox("customCityName", @cityName, new { @class = "form-control col-xs-12", id = "cityEdit", required = "required" })
                </div>
                <div id="citySubmitDiv">
                    <input type="submit" value="Show weather" class="form-control btn-success" id="btnShow" />
                </div>

            }
        </div>
    </div>
    @if (@Model.GetWeatherParams().Count != 0)
    {

        <div>
            <table class="table table-striped">
                <tr>
                    <th>@Html.ActionLink("Current Day", "Index", new { time = 1, customCityName = cityName })</th>
                    <th>@Html.ActionLink("3 Days", "Index", new { time = 3, customCityName = cityName })</th>
                    <th>@Html.ActionLink("7 Days", "Index", new { time = 7, customCityName = cityName })</th>
                </tr>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th><h3>@cityName</h3></th>

                    <th id="countryCode"><h3>@countryCode</h3></th>
                </tr>
            </table>
        </div>
        <h4>Weather forecast for @Model.CountForecastDays days</h4>
        <div class="divParent">
            @foreach (var dayWeather in @Model.GetWeatherParams())
                {
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                @dayWeather.Date
                            </th>
                            <th>
                                <img src="@($"{dayWeather.IconPath}")" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="divTableKey">Temperature:</td>
                        <td class="divTableValue">@dayWeather.Temperature</td>
                    </tr>
                    <tr>
                        <td class="divTableKey">Humidity:</td>
                        <td class="divTableValue">@dayWeather.Humidity</td>
                    </tr>
                    <tr>
                        <td class="divTableKey">Pressure:</td>
                        <td class="divTableValue">@dayWeather.Pressure</td>
                    </tr>
                    <tr>
                        <td class="divTableKey">WindSpeed:</td>
                        <td class="divTableValue">@dayWeather.WindSpeed</td>
                    </tr>
                    <tr>
                        <td class="divTableKey">Clouds:</td>
                        <td class="divTableValue">@dayWeather.Clouds</td>
                    </tr>
                    </tbody>
                </table>

                <hr class="half-rule" />
            }
        </div>
    }
</div>