
@model WeatherForecast.Models.WeatherInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";

    string cityName = @Model?.weatherInfo?.city?.name ?? "";
    string countryCode = @Model?.weatherInfo?.city?.country ?? "";
}

<script>
    function timeConverter(unixTimestamp) {
        var a = new Date(unixTimestamp * 1000);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
        return time;
    }
</script>
<div>
    <div class="well well-sm">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>@Html.ActionLink("Kiev", "Index", new { city = "Kiev" })</th>
                    <th>@Html.ActionLink("Lviv", "Index", new { city = "Lviv" })</th>
                    <th>@Html.ActionLink("Kharkiv", "Index", new { city = "Kharkiv" })</th>
                    <th>@Html.ActionLink("Dnipropetrovsk", "Index", new { city = "Dnipropetrovsk" })</th>
                    <th>@Html.ActionLink("Odessa", "Index", new { city = "Odessa" })</th>
                </tr>
            </table>
        </div>

        @using (Html.BeginForm("Index", "WeatherInfo"))
        {
            <div>
                @Html.TextBox("city", null, new { @class = "" })
            </div>
            <input type="submit" value="Show city weather" class="btn-success" />
        }

        @if (@Model?.weatherInfo?.cnt != 0)
        {
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>@Html.ActionLink("Current Day", "Index", new { time = 1, city = @Model?.weatherInfo?.city?.name })</th>
                        <th>@Html.ActionLink("3 Days", "Index", new { time = 3, city = @Model?.weatherInfo?.city?.name })</th>
                        <th>@Html.ActionLink("7 Days", "Index", new { time = 7, city = @Model?.weatherInfo?.city?.name })</th>
                    </tr>
                </table>
            </div>
        }
    </div>
    @if (@Model?.weatherInfo?.cnt != 0)
    {
        <h3>City:</h3>
        <h2>@cityName</h2>

        <h3>Country code:</h3>
        <h2>@countryCode</h2>
        <div class="divParent">
            @foreach (var info in @Model.weatherInfo.list)
            {
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <script> document.write(timeConverter(@info.dt)) </script>
                            </th>
                            <th>
                                <img src="@($"http://openweathermap.org/img/w/{@info.weather[0].icon}.png")" alt="@info.weather[0].description" />
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Temperature:</td>
                            <td>@info.temp.day</td>
                        </tr>
                        <tr>
                            <td>Humidity:</td>
                            <td>@info.humidity</td>
                        </tr>
                        <tr>
                            <td>Pressure:</td>
                            <td>@info.pressure</td>
                        </tr>
                        <tr>
                            <td>Wind Speed:</td>
                            <td>@info.speed</td>
                        </tr>
                        <tr>
                            <td>Clouds:</td>
                            <td>@info.clouds</td>
                        </tr>
                        </tbody>
                    </table>
            }
        </div>
    }
</div>