@using WeatherForecast.Models.Entities

@model ICollection<WeatherForecast.Models.Entities.RequestHistoryEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    <!--
    function showHide(elementid){
        if (document.getElementById(elementid).style.display === 'none'){
            document.getElementById(elementid).style.display = '';
        } else {
            document.getElementById(elementid).style.display = 'none';
        }
    }
    //-->
</script>

@Html.ActionLink("Clear History", "Index", "History", new { bClear = true }, null)
<br/>
@if (Model.Count != 0)
{
    <table>
        <tr>
            <td>Time</td>
            <td>RequestInfo</td> 
        </tr>
        @foreach (var historyItem in Model)
        {
            <tr>
                <td>
                    @historyItem.RequestTime
                </td>
                <td>
                    @historyItem.WeatherEntity.CityName
                </td>
                <td>
                    <div><a href="javascript:showHide('detailed_@historyItem.Id')">more...</a></div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id='detailed_@historyItem.Id' style="display: none">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th><h3>@historyItem.WeatherEntity.CityName</h3></th>

                                    <th id="countryCode"><h3>@historyItem.WeatherEntity.CountryCode</h3></th>
                                </tr>
                            </table>
                        </div>
                        <h4>Weather forecast for @historyItem.WeatherEntity.CountForecastDays days</h4>
                        @if (historyItem.WeatherEntity.DayInfoEntities != null)
                        {
                            <div class="divParent">
                                @foreach (var dayWeather in @historyItem.WeatherEntity.DayInfoEntities)
                                {
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>
                                                @dayWeather.Date
                                            </th>
                                            <th>
                                                <img src="@($"{dayWeather.IconPath}")"/>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="divTableKey">Temperature:</td>
                                            <td class="divTableValue">@dayWeather.Temperature</td>
                                        </tr>
                                        <tr>
                                            <td class="divTableKey">Humidity:</td>
                                            <td class="divTableValue">@dayWeather.Humidity</td>
                                        </tr>
                                        <tr>
                                            <td class="divTableKey">Pressure:</td>
                                            <td class="divTableValue">@dayWeather.Pressure</td>
                                        </tr>
                                        <tr>
                                            <td class="divTableKey">WindSpeed:</td>
                                            <td class="divTableValue">@dayWeather.WindSpeed</td>
                                        </tr>
                                        <tr>
                                            <td class="divTableKey">Clouds:</td>
                                            <td class="divTableValue">@dayWeather.Clouds</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <hr class="half-rule"/>
                                }
                            </div>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
}
